@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/static/OpenSans-Reqular.ttf) format('ttf'),
         url(./fonts/static/OpenSans-SemiBold.ttf) format('ttf'),
         url(./fonts/static/OpenSans-Light.ttf) format('ttf');
}

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/Helvetica.ttf) format('ttf'),
         url(./fonts/Helvetica-Bold.ttf) format('ttf');
}